{% extends "index.html" %}

{% block head_content %}
    <title>Login</title>
{% endblock head_content %}

{% block content %}

    <form action="." method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 25rem;">
                <div class="card-header">
                    <h5>Sign in</h5>
                </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="password" name="password" placeholder="Enter your Password" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="submit" class="btn btn-block btn-info" placeholder="Send" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group text-center">
                        <a href="{% url 'user_signup' %}">Crear cuenta</a>
                    </div>
                </div>
                {% if error %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="alert alert-danger" role="alert">
                              {{ error }}
                            </div>
                        </div>
                    </div>
                {% endif %}
              </div>
            </div>
        </div>
    </form>


{% endblock content %}