{% extends "index.html" %}

{% block head_content %}
    <title>Crear cuenta</title>
{% endblock head_content %}

{% block content %}

    <form action="." method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 25rem;">
                <div class="card-header">
                    <h5>Sign up</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Username" name="username" required="true" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password" name="passwd" required="true" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password confirmation" name="passwd_confirmation" required="true" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="First name" name="first_name" required="true" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Last name" name="last_name" required="true" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Email address" name="email" required="true" />
                    </div>

                    <button class="btn btn-info btn-block mt-5" type="submit">Register!</button>

                    {% if error %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="alert alert-danger" role="alert">
                              {{ error }}
                            </div>
                        </div>
                    </div>
                {% endif %}

              </div>
            </div>
        </div>
    </form>


{% endblock content %}